* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgba(10, 11, 14, 0.877);
}
.navigation {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(8, 36, 36);
    transition: 0.2s;
    display: flex;
    visibility: hidden;
    opacity: 0;

}

.navigation.active {

    visibility: visible;
    opacity: 1;

}

.navigation .navArea {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .navArea ul li {
    list-style: none;
}

.navigation .navArea ul li ::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 48, 0.5);
    z-index: -1;
    opacity: 0;
    transition: 0.5s;

}

.navigation .navArea ul li:nth-child(1) ::before {
    background: rgba(2, 196, 255, 0.452);

}

.navigation .navArea ul li:nth-child(2) ::before {
    background: rgba(20, 144, 182, 0.699);

}

.navigation .navArea ul li:nth-child(3) ::before {
    background: rgba(8, 94, 121, 0.699);
}

.navigation .navArea ul li:nth-child(4) ::before {
    background: rgba(7, 67, 85, 0.699);
}

.navigation .navArea ul li:nth-child(5) ::before {
    background: rgba(3, 44, 56, 0.699);

}

.navigation .navArea ul li:nth-child(6) ::before {
    background: rgba(0, 5, 7, 0.699);

}

.navigation .navArea ul li:hover ::before {
    opacity: 1;

}

.navigation .navArea ul li a {
    font-size: 3em;
    font-weight: 600;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.navigation .navArea ul li:hover a {
    color: white;

}

.imgArea {
    position: relative;
    width: 50%;
    height: 100vh;

}

.imgArea img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuToggle {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: rgba(34, 32, 32, 0.719) url(images/menu.png);
    z-index: 1000;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;


}

.menuToggle .active {
    background: rgba(34, 32, 32, 0.819) url(images/close.png);
    background: red;
    z-index: 1000;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: invert(1);

}

@media(max-width: 720px) {

    .navigation .navArea {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

    }

    .navigation .navArea ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navigation .navArea ul li {
        background: rgba(255, 255, 255, 0.733);
        margin: 5px 10px;
        padding: 5px 10px;
        border-radius: 2px;
    }

    .navigation .navArea ul li:hover {
        background: rgb(211, 32, 56);
    }

    .navigation .navArea ul li a {
        color: #000;
        font-size: 2em;
        letter-spacing: 2px;
    }

    .imgArea {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #f00;
        opacity: 0.7;

    }

    .navigation .navArea ul li:hover::before {
        opacity: 0;
    }



}